@font-face {
        font-family: 'MyFont';
         src: url('../font/FontAwesome.otf') format('otf');
        font-weight: 600;
        font-style: normal;
}
body{
        /* background: red */
}
.hello {
        color: red;
        font-family: 'MyFont',
}

img{
        width: 100%
}
