.img1,
.img2{
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
}

.img1{
        // background-image: url(../img/2.jpg);
}
.img2{
        // background-image: url(../img/1.jpg);
}
