.img1,
.img2 {
        width: 800px;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
}
img{
        width: 800px;
}

.img1 {
        background-image: url("../img/4.png");
}

.img2 {
        background-image: url("../img/5.png");
}
@font-face {
        font-family: 'MyFont';
        src: url("../font/FontAwesome.otf") format('otf');
        font-weight: 600;
        font-style: normal;
}

html {
        button {
                display: flex;
                background-color: red;
        }
}
